<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper">

    <!-- Order -->
    <select id="orderList" resultType="Order">
        SELECT * from t_mesbuyma03;
    </select>

    <select id="getOrderInfo" parameterType="String" resultType="Order">
        SELECT * from t_mesbuyma03 where plord_no=#{plord_no};
    </select>

    <!-- OrderDetail -->
    <select id="orderDetailList" resultType="OrderDetail">
        SELECT * from t_mesbuyma04;
    </select>

    <select id="getOrderDetailInfo" parameterType="String" resultType="OrderDetail">
        SELECT * from t_mesbuyma04 where plord_no=#{plord_no} and item_cd=#{item_cd};
    </select>

    <!-- Offer -->
    <select id="offerList" resultType="Offer">
        SELECT * from t_messalma05;
    </select>

    <select id="getOfferInfo" parameterType="String" resultType="Offer">
        SELECT * from t_messalma05 where ex_requ_no=#{ex_requ_no};
    </select>

    <!-- OfferDetail -->
    <select id="offerDetailList" resultType="OfferDetail">
        SELECT * from t_messalma06;
    </select>

    <select id="getOfferDetailInfo" parameterType="String" resultType="OfferDetail">
        SELECT * from t_messalma06 where ex_requ_no=#{ex_requ_no} and item_cd=#{item_cd};
    </select>

    <!-- Storing -->
    <select id="storingTotalList" resultType="Storing">
        SELECT * from t_mesbuyma05;
    </select>

    <select id="storingOne" parameterType="String" resultType="Storing">
        select * from t_mesbuyma05 where purc_in_no=#{purc_in_no};
    </select>

    <select id="storingSpecList" parameterType="HashMap" resultType="StoringList">
        select t_mesbuyma06.item_cd, max(purc_in_dt) as purc_in_dt, sum(t_mesbuyma06.qty) as qty from t_mesbuyma05 inner join t_mesbuyma06 on t_mesbuyma05.purc_in_no=t_mesbuyma06.purc_in_no where cust_cd=#{cust_cd} and date_format(purc_in_dt, '%Y%m%d') between #{purc_in_dt_1} and #{purc_in_dt_2} group by item_cd;
    </select>

    <select id="storingNo" parameterType="String" resultType="String">
        SELECT CONCAT(DATE_FORMAT(NOW(),'%Y%m'),LPAD(IFNULL(MAX(SUBSTR(purc_in_no,7,12)),0)+1,5,'0')) FROM t_mesbuyma05 WHERE corp_cd = #{corp_cd};
    </select>

    <select id="checkFormerStoringList" parameterType="String" resultType="Storing">
        SELECT * from t_mesbuyma05 where purc_in_dt=#{purc_in_dt};
    </select>

    <insert id="storingInsert" parameterType="Storing">
        insert into t_mesbuyma05(corp_cd, busi_cd, purc_in_no, purc_in_dt, cust_cd, inp_id, inp_dttm, upd_id, upd_dttm) values(
        #{corp_cd},
        #{busi_cd},
        #{purc_in_no},
        #{purc_in_dt},
        #{cust_cd},
        #{inp_id},
        NOW(),
        #{upd_id},
        NOW()
        ) on duplicate key update purc_in_dt=#{purc_in_dt}, upd_id=#{upd_id}, upd_dttm=now();
    </insert>

    <delete id="storingDelete" parameterType="Storing">
        delete from t_mesbuyma05 where purc_in_no=#{purc_in_no};
    </delete>

    <!-- StoringDetail -->
    <select id="storingDetailList" resultType="StoringDetail">
        SELECT * from t_mesbuyma06;
    </select>

    <select id="storingDetailSpecList" parameterType="HashMap" resultType="StoringList">
        select purc_in_dt, cust_cd, t_mesbuyma06.item_cd, t_mesbuyma06.qty, t_mesbuyma06.purc_in_no, t_mesbuyma06.stor_cd, t_mesbuyma06.loca_cd from t_mesbuyma05 inner join t_mesbuyma06 on t_mesbuyma05.purc_in_no=t_mesbuyma06.purc_in_no where cust_cd=#{cust_cd} and date_format(purc_in_dt, '%Y%m%d') between #{purc_in_dt_1} and #{purc_in_dt_2} and t_mesbuyma06.item_cd=#{item_cd};
    </select>

    <insert id="storingDetailInsert" parameterType="StoringDetail">
        insert into t_mesbuyma06(corp_cd, purc_in_no, seq, item_cd, qty, stor_cd, loca_cd, inp_id, inp_dttm, upd_id, upd_dttm) values(
        #{corp_cd},
        #{purc_in_no},
        (select count(*) + 1 from t_mesbuyma06 a where a.purc_in_no=#{purc_in_no}),
        #{item_cd},
        #{qty},
        #{stor_cd},
        #{loca_cd},
        #{inp_id},
        NOW(),
        #{upd_id},
        NOW()
        ) on duplicate key update qty=(select qty from t_mesbuyma06 a where a.purc_in_no=#{purc_in_no}) + #{qty};
    </insert>

    <delete id="storingDetailDelete" parameterType="StoringDetail">
        delete from t_mesbuyma06 where purc_in_no=#{purc_in_no} and item_cd=#{item_cd} and qty = 0;
    </delete>

    <select id="checkStoringDetailList" parameterType="String" resultType="StoringDetail">
        SELECT * from t_mesbuyma06 where purc_in_no=#{purc_in_no};
    </select>

    <update id="storingDetailUpdate" parameterType="StoringDetail">
        update t_mesbuyma06 set qty = (select qty from t_mesbuyma06 a where a.purc_in_no = #{purc_in_no} and a.item_cd = #{item_cd}) + #{qty}, upd_id = #{upd_id}, upd_dttm = NOW() where purc_in_no = #{purc_in_no} and item_cd = #{item_cd};
    </update>

    <!-- StoringReturn -->

    <select id="storingReturnTotalList" resultType="StoringReturn">
        SELECT * from t_mesbuyma07;
    </select>

    <select id="storingReturnOne" parameterType="String" resultType="StoringReturn">
        select * from t_mesbuyma07 where purc_retu_no=#{purc_retu_no};
    </select>

    <select id="storingReturnSpecList" parameterType="HashMap" resultType="StoringReturnList">
        select t_mesbuyma08.item_cd, max(purc_retu_dt) as purc_retu_dt, sum(t_mesbuyma08.qty) as qty from t_mesbuyma07 inner join t_mesbuyma08 on t_mesbuyma07.purc_retu_no=t_mesbuyma08.purc_retu_no where cust_cd=#{cust_cd} and date_format(purc_retu_dt, '%Y%m%d') between #{purc_retu_dt_1} and #{purc_retu_dt_2} group by item_cd;
    </select>

    <select id="storingReturnNo" parameterType="String" resultType="String">
        (SELECT CONCAT(DATE_FORMAT(NOW(),'%Y%m'),LPAD(IFNULL(MAX(SUBSTR(purc_retu_no,7,12)),0)+1,5,'0')) FROM t_mesbuyma07 WHERE corp_cd = #{corpCd})
    </select>

    <select id="checkFormerStoringReturnList" parameterType="String" resultType="StoringReturn">
        SELECT * from t_mesbuyma07 where purc_retu_dt=#{purc_retu_dt};
    </select>

    <insert id="storingReturnInsert" parameterType="StoringReturn">
        insert into t_mesbuyma07(corp_cd, busi_cd, purc_retu_no, purc_retu_dt, cust_cd, inp_id, inp_dttm, upd_id, upd_dttm) values(
        #{corp_cd},
        #{busi_cd},
        #{purc_retu_no},
        #{purc_retu_dt},
        #{cust_cd},
        #{inp_id},
        NOW(),
        #{upd_id},
        NOW()
        ) on duplicate key update purc_retu_dt=#{purc_retu_dt}, upd_id=#{upd_id}, upd_dttm=now();
    </insert>

    <delete id="storingReturnDelete" parameterType="StoringReturn">
        delete from t_mesbuyma07 where purc_retu_no=#{purc_retu_no};
    </delete>

    <!-- StoringReturnDetail -->
    <select id="storingReturnDetailList" resultType="StoringReturnDetail">
        SELECT * from t_mesbuyma08;
    </select>

    <select id="storingReturnDetailSpecList" parameterType="HashMap" resultType="StoringReturnList">
        select purc_retu_dt, cust_cd, t_mesbuyma08.item_cd, t_mesbuyma08.qty, t_mesbuyma08.purc_retu_no, t_mesbuyma08.stor_cd, t_mesbuyma08.loca_cd from t_mesbuyma07 inner join t_mesbuyma08 on t_mesbuyma07.purc_retu_no=t_mesbuyma08.purc_retu_no where cust_cd=#{cust_cd} and date_format(purc_retu_dt, '%Y%m%d') between #{purc_retu_dt_1} and #{purc_retu_dt_2} and t_mesbuyma08.item_cd=#{item_cd};
    </select>

    <insert id="storingReturnDetailInsert" parameterType="StoringReturnDetail">
        insert into t_mesbuyma08(corp_cd, purc_retu_no, seq, item_cd, qty, stor_cd, loca_cd, inp_id, inp_dttm, upd_id, upd_dttm) values(
        #{corp_cd},
        #{purc_retu_no},
        (select count(*) + 1 from t_mesbuyma08 a where a.purc_retu_no=#{purc_retu_no}),
        #{item_cd},
        #{qty},
        #{stor_cd},
        #{loca_cd},
        #{inp_id},
        NOW(),
        #{upd_id},
        NOW()
        ) on duplicate key update qty=(select qty from t_mesbuyma08 a where a.purc_retu_no=#{purc_retu_no}) + #{qty};
    </insert>

    <delete id="storingReturnDetailDelete" parameterType="StoringReturnDetail">
        delete from t_mesbuyma08 where purc_retu_no=#{purc_retu_no} and item_cd=#{item_cd} and qty = 0;
    </delete>

    <select id="checkStoringReturnDetailList" parameterType="String" resultType="StoringReturnDetail">
        SELECT * from t_mesbuyma08 where purc_retu_no=#{purc_retu_no};
    </select>

    <update id="storingReturnDetailUpdate" parameterType="StoringReturnDetail">
        update t_mesbuyma08 set qty = (select qty from t_mesbuyma08 a where a.purc_retu_no = #{purc_retu_no} and a.item_cd = #{item_cd}) + #{qty}, upd_id = #{upd_id}, upd_dttm = NOW() where purc_retu_no = #{purc_retu_no} and item_cd = #{item_cd};
    </update>

    <!-- Unstoring -->
    <select id="unstoringTotalList" resultType="Unstoring">
        SELECT * from t_messalma07;
    </select>

    <select id="unstoringOne" parameterType="String" resultType="Unstoring">
        select * from t_messalma07 where ex_no=#{ex_no};
    </select>

    <select id="unstoringSpecList" parameterType="HashMap" resultType="UnstoringList">
        select t_messalma08.item_cd, max(ex_dt) as ex_dt, sum(t_messalma18.qty) as qty from t_messalma07 inner join t_messalma08 on t_messalma07.ex_no=t_messalma08.ex_no where cust_cd=#{cust_cd} and date_format(ex_dt, '%Y%m%d') between #{ex_dt_1} and #{ex_dt_2} group by item_cd;
    </select>

    <select id="unstoringNo" parameterType="String" resultType="String">
        SELECT CONCAT(DATE_FORMAT(NOW(),'%Y%m'),LPAD(IFNULL(MAX(SUBSTR(ex_no,7,12)),0)+1,5,'0')) FROM t_messalma07 WHERE corp_cd = #{corp_cd};
    </select>

    <select id="checkFormerUnstoringList" parameterType="String" resultType="Unstoring">
        SELECT * from t_messalma07 where ex_dt=#{ex_dt};
    </select>

    <insert id="unstoringInsert" parameterType="Unstoring">
        insert into t_messalma07(corp_cd, busi_cd, ex_no, ex_dt, cust_cd, inp_id, inp_dttm, upd_id, upd_dttm) values(
        #{corp_cd},
        #{busi_cd},
        #{ex_no},
        #{ex_dt},
        #{cust_cd},
        #{inp_id},
        NOW(),
        #{upd_id},
        NOW()
        ) on duplicate key update ex_dt=#{ex_dt}, upd_id=#{upd_id}, upd_dttm=now();
    </insert>

    <delete id="unstoringDelete" parameterType="Unstoring">
        delete from t_messalma07 where ex_no=#{ex_no};
    </delete>

    <!-- UnstoringDetail -->
    <select id="unstoringDetailList" resultType="UnstoringDetail">
        SELECT * from t_messalma08;
    </select>

    <select id="unstoringDetailSpecList" parameterType="HashMap" resultType="UnstoringList">
        select ex_dt, cust_cd, t_messalma08.item_cd, t_messalma08.qty, t_messalma08.ex_no, t_messalma08.stor_cd, t_messalma08.loca_cd from t_messalma07 inner join t_messalma08 on t_messalma07.ex_no=t_messalma08.ex_no where cust_cd=#{cust_cd} and date_format(ex_dt, '%Y%m%d') between #{ex_dt_1} and #{ex_dt_2} and t_messalma08.item_cd=#{item_cd};
    </select>

    <insert id="unstoringDetailInsert" parameterType="UnstoringDetail">
        insert into t_messalma08(corp_cd, ex_no, seq, item_cd, qty, stor_cd, loca_cd, inp_id, inp_dttm, upd_id, upd_dttm) values(
        #{corp_cd},
        #{ex_no},
        (select count(*) + 1 from t_messalma08 a where a.ex_no=#{ex_no}),
        #{item_cd},
        #{qty},
        #{stor_cd},
        #{loca_cd},
        #{inp_id},
        NOW(),
        #{upd_id},
        NOW()
        ) on duplicate key update qty=(select qty from t_messalma08 a where a.ex_no=#{ex_no}) + #{qty};
    </insert>

    <delete id="unstoringDetailDelete" parameterType="UnstoringDetail">
        delete from t_messalma08 where ex_no=#{ex_no} and item_cd=#{item_cd} and qty = 0;
    </delete>

    <select id="checkUnstoringDetailList" parameterType="String" resultType="UnstoringDetail">
        SELECT * from t_messalma08 where ex_no=#{ex_no};
    </select>

    <update id="unstoringDetailUpdate" parameterType="UnstoringDetail">
        update t_messalma08 set qty = (select qty from t_messalma08 a where a.ex_no = #{ex_no} and a.item_cd = #{item_cd}) + #{qty}, upd_id = #{upd_id}, upd_dttm = NOW() where ex_no = #{ex_no} and item_cd = #{item_cd};
    </update>

    <!-- UnstoringReturn -->

    <select id="unstoringReturnTotalList" resultType="UnstoringReturn">
        SELECT * from t_messalma09;
    </select>

    <select id="unstoringReturnOne" parameterType="String" resultType="UnstoringReturn">
        select * from t_messalma09 where ex_retu_no=#{ex_retu_no};
    </select>

    <select id="unstoringReturnSpecList" parameterType="HashMap" resultType="UnstoringReturnList">
        select t_messalma10.item_cd, max(ex_retu_dt) as ex_retu_dt, sum(t_messalma10.qty) as qty from t_messalma09 inner join t_messalma10 on t_messalma09.ex_retu_no=t_messalma10.ex_retu_no where cust_cd=#{cust_cd} and date_format(ex_retu_dt, '%Y%m%d') between #{ex_retu_dt_1} and #{ex_retu_dt_2} group by item_cd;
    </select>

    <select id="unstoringReturnNo" parameterType="String" resultType="String">
        (SELECT CONCAT(DATE_FORMAT(NOW(),'%Y%m'),LPAD(IFNULL(MAX(SUBSTR(ex_retu_no,7,12)),0)+1,5,'0')) FROM t_messalma09 WHERE corp_cd = #{corpCd})
    </select>

    <select id="checkFormerUnstoringReturnList" parameterType="String" resultType="UnstoringReturn">
        SELECT * from t_messalma09 where ex_retu_dt=#{ex_retu_dt};
    </select>

    <insert id="unstoringReturnInsert" parameterType="UnstoringReturn">
        insert into t_messalma09(corp_cd, busi_cd, ex_retu_no, ex_retu_dt, cust_cd, inp_id, inp_dttm, upd_id, upd_dttm) values(
        #{corp_cd},
        #{busi_cd},
        #{ex_retu_no},
        #{ex_retu_dt},
        #{cust_cd},
        #{inp_id},
        NOW(),
        #{upd_id},
        NOW()
        ) on duplicate key update ex_retu_dt=#{ex_retu_dt}, upd_id=#{upd_id}, upd_dttm=now();
    </insert>

    <delete id="unstoringReturnDelete" parameterType="UnstoringReturn">
        delete from t_messalma09 where ex_retu_no=#{ex_retu_no};
    </delete>

    <!-- UnstoringReturnDetail -->
    <select id="unstoringReturnDetailList" resultType="UnstoringReturnDetail">
        SELECT * from t_messalma10;
    </select>

    <select id="unstoringReturnDetailSpecList" parameterType="HashMap" resultType="UnstoringReturnList">
        select ex_retu_dt, cust_cd, t_messalma10.item_cd, t_messalma10.qty, t_messalma10.ex_retu_no, t_messalma10.stor_cd, t_messalma10.loca_cd from t_messalma09 inner join t_messalma10 on t_messalma09.ex_retu_no=t_messalma10.ex_retu_no where cust_cd=#{cust_cd} and date_format(ex_retu_dt, '%Y%m%d') between #{ex_retu_dt_1} and #{ex_retu_dt_2} and t_messalma10.item_cd=#{item_cd};
    </select>

    <insert id="unstoringReturnDetailInsert" parameterType="UnstoringReturnDetail">
        insert into t_messalma10(corp_cd, ex_retu_no, seq, item_cd, qty, stor_cd, loca_cd, inp_id, inp_dttm, upd_id, upd_dttm) values(
        #{corp_cd},
        #{ex_retu_no},
        (select count(*) + 1 from t_messalma10 a where a.ex_retu_no=#{ex_retu_no}),
        #{item_cd},
        #{qty},
        #{stor_cd},
        #{loca_cd},
        #{inp_id},
        NOW(),
        #{upd_id},
        NOW()
        ) on duplicate key update qty=(select qty from t_messalma10 a where a.ex_retu_no=#{ex_retu_no}) + #{qty};
    </insert>

    <delete id="unstoringReturnDetailDelete" parameterType="UnstoringReturnDetail">
        delete from t_messalma10 where ex_retu_no=#{ex_retu_no} and item_cd=#{item_cd} and qty = 0;
    </delete>

    <select id="checkUnstoringReturnDetailList" parameterType="String" resultType="UnstoringReturnDetail">
        SELECT * from t_messalma10 where ex_retu_no=#{ex_retu_no};
    </select>

    <update id="unstoringReturnDetailUpdate" parameterType="UnstoringReturnDetail">
        update t_messalma10 set qty = (select qty from t_messalma10 a where a.ex_retu_no = #{ex_retu_no} and a.item_cd = #{item_cd}) + #{qty}, upd_id = #{upd_id}, upd_dttm = NOW() where ex_retu_no = #{ex_retu_no} and item_cd = #{item_cd};
    </update>

    <!-- User -->
    <select id="userInfo" resultType="User">
        SELECT * from t_mesbasma04 where emp_id=#{emp_id} and pwd=#{pwd};
    </select>

    <!-- Warehouse -->
    <select id="getWarehouseInfo" parameterType="String" resultType="Warehouse">
        SELECT * from t_mesbasma11 where stor_cd=#{stor_cd};
    </select>

    <select id="warehouseList" resultType="Warehouse">
        SELECT * from t_mesbasma11;
    </select>

    <!-- Location -->
    <select id="getLocationInfo" parameterType="HashMap" resultType="Location">
        SELECT * from t_mesbasma12 where stor_cd=#{stor_cd} and loca_cd=#{loca_cd};
    </select>

    <select id="locationList" resultType="Location">
        SELECT * from t_mesbasma12;
    </select>

    <!-- Customer -->
    <select id="getCustomerInfo" parameterType="String" resultType="Customer">
        SELECT * from t_mesbasma05 where cust_cd=#{cust_cd};
    </select>

    <select id="customerList" resultType="Customer">
        SELECT * from t_mesbasma05;
    </select>


    <!-- Barcode -->
    <select id="getBarcodeInfo" parameterType="String" resultType="Barcode">
        SELECT * from t_mesbasma17 where barcode=#{barcode};
    </select>

    <!-- Item -->
    <select id="itemList" resultType="Item">
        SELECT * from t_mesbasma10;
    </select>

    <select id="getItemInfo" parameterType="String" resultType="Item">
        SELECT * from t_mesbasma10 where item_cd=#{item_cd};
    </select>

</mapper>