<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper">
    <!-- Storing -->
    <select id="storingList" resultType="Storing">
        SELECT * from t_mesbuyma05;
    </select>

    <insert id="storingInsert" parameterType="Storing">
        insert into t_mesbuyma05 values(#{corp_cd},
        #{busi_id},
        #{purc_in_no},
        #{purc_in_dt},
        #{purc_close_divi},
        #{cust_cd},
        #{pic_cd},
        #{depa_cd},
        #{emp_no},
        #{remark},
        #{close_yn},
        #{inp_id},
        #{inp_dttm},
        #{upd_id},
        #{upd_dttm}
        )
    </insert>

    <delete id="storingDelete" parameterType="Storing">
        delete from t_mesbuyma05 where corp_cd=#{corp_cd} and busi_id=#{busi_id} and purc_in_no=#{purc_in_no}
    </delete>

    <!-- StoringDetail -->
    <select id="storingDetailList" resultType="StoringDetail">
        SELECT * from t_mesbuyma06;
    </select>

    <insert id="storingDetailInsert" parameterType="StoringDetail">
        insert into t_mesbuyma06(seq, corp_cd, purc_in_no) values(#{seq},
        #{corp_cd},
        #{purc_in_no}
        )
    </insert>

    <delete id="storingDetailDelete" parameterType="StoringDetail">
        delete from t_mesbuyma06 where seq=#{seq} and corp_cd=#{corp_cd} and purc_in_no=#{purc_in_no}
    </delete>

    <!-- Unstoring -->
    <select id="unstoringList" resultType="Unstoring">
        SELECT * from t_messalma07;
    </select>

    <insert id="unstoringInsert" parameterType="Unstoring">
        insert into t_messalma07 values(#{corp_cd},
        #{busi_id},
        #{ex_no},
        #{ex_dt},
        #{sale_close_divi},
        #{cust_cd},
        #{supp_cd},
        #{pic_cd},
        #{depa_cd},
        #{emp_no},
        #{remark},
        #{close_yn},
        #{inp_id},
        #{inp_dttm},
        #{upd_id},
        #{upd_dttm}
        )
    </insert>

    <delete id="unstoringDelete" parameterType="Unstoring">
        delete from t_messalma07 where corp_cd=#{corp_cd} and busi_id=#{busi_id} and purc_in_no=#{purc_in_no}
    </delete>

    <!-- UnstoringDetail -->
    <select id="unstoringDetailList" resultType="UnstoringDetail">
        SELECT * from t_messalma08;
    </select>

    <insert id="unstoringDetailInsert" parameterType="UnstoringDetail">
        insert into t_messalma08(seq, corp_cd, ex_no) values(#{seq},
        #{corp_cd},
        #{ex_no}
        )
    </insert>

    <delete id="unstoringDetailDelete" parameterType="UnstoringDetail">
        delete from t_messalma08 where seq=#{seq} and corp_cd=#{corp_cd} and ex_no=#{ex_no}
    </delete>

    <!-- User -->
    <select id="userInfo" resultType="User">
        SELECT * from t_mesbasma04 where emp_id=#{emp_id} and pwd=#{pwd}
    </select>
</mapper>